<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet/less" href="stylesheets/bootstrap/less/bootstrap.less">
<script src="less.js"></script>

<title>Fucking Social Shit (Beta)</title>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">Fuck</a>
                <div class="nav-collapse">
                    <p class="navbar-text pull-right">Logged in as <a href="#"><%= loggedUser.name %></a></p>
                </div>
            </div>
        </div>
    </div>

<div id="container">
<h1>Fucking Social Shit</h1>
<br>
<%- body %>
</div>

</body>
</html>
