<h2>Registration</h2>
<div class="form">
<form action="/register" method="post">
<p>
    <label>Email</label><br>
    <input type="text" name="email" />
</p>
<p>
    <label>Username</label><br>
    <input type="text" name="username" />
</p>
<p>
    <label>Password</label><br>
    <input type="password" name="password" />
</p>
<br>
<p>
    <input type="submit" value="Submit" />
</p>
</form>
</div>
